## Template for each generated Retrofit_Foo class.
## This template uses the Apache Velocity Template Language (VTL).
## The variables ($pkg, $props, and so on) are defined by the fields of MutableRetrofitTemplateVars.
##
## Comments, like this one, begin with ##. The comment text extends up to and including the newline
## character at the end of the line. So comments also serve to join a line to the next one.
## Velocity deletes a newline after a directive (#if, #foreach, #end etc) so ## is not needed there.
## That does mean that we sometimes need an extra blank line after such a directive.
##
## A post-processing step will remove unwanted spaces and blank lines, but will not join two lines.

#if (!$pkg.empty)
package $pkg;
#end

#foreach ($i in $imports)
import $i;
#end

import org.json.JSONObject;
import org.json.JSONException;

import rx.Observable;
import rx.Subscriber;
import rx.functions.*;

import com.bluelinelabs.logansquare.LoganSquare;

import android.util.Log;

import java.util.List;

import com.squareup.okhttp.*;
import java.io.IOException;

${gwtCompatibleAnnotation}
public final class $subclass$formalTypes extends $origClass$actualTypes {

    final OkHttpClient client;

## Constructor

    public $subclass() {
        client = new OkHttpClient();
    }

## Property getters

#foreach ($p in $props)

    @Override
    ${p.access}${p.type} ${p.getter}(${p.args}) {
        return Observable.create(new OnSubscribeResponse(client, new Request.Builder().url("${endpoint}${p.path}").build())).map(new Func1<Response, String>() {
            @Override public String call(Response response) {
                try {
                    return response.body().string();
                } catch (Exception e) {
                    return null;
                }
            }
        }).filter(new Func1<String, Boolean>() {
            @Override public Boolean call(String json) {
                return json != null;
            }
            /*
        }).map(new Func1<String, $p.typeArgs>() {
            @Override public $p.typeArgs call(String json) {
                // TODO Using RetrofitConveter
                try {
                    return LoganSquare.parse(json, ${p.typeArgs}.class);
                } catch (Exception e) {
                    return null;
                }
            }
            */
        }).map(new Func1<String, List<$p.typeArgs>>() {
            @Override public List<$p.typeArgs> call(String json) {
                // TODO Using RetrofitConveter
                try {
                    return LoganSquare.parseList(json, ${p.typeArgs}.class);
                } catch (Exception e) {
                    return null;
                }
            }
        }).flatMap(new Func1<List<$p.typeArgs>, Observable<$p.typeArgs>>() {
            @Override public Observable<$p.typeArgs> call(List<$p.typeArgs> list) {
                return Observable.from(list);
            }
        }).filter(new Func1<$p.typeArgs, Boolean>() {
            @Override public Boolean call($p.typeArgs object) {
                return object != null;
            }
        });
    }

#end

    public static class OnSubscribeResponse implements Observable.OnSubscribe<Response> {
        final Request request;
        final OkHttpClient client;

        public OnSubscribeResponse(OkHttpClient client, Request request) {
            this.request = request;
            this.client = client;
        }

        @Override
        public void call(final Subscriber<? super Response> sub) {
            try {
                client.newCall(request).enqueue(new Callback() {
                    @Override public void onFailure(Request request, IOException e) {
                        sub.onError(e);
                    }
                    @Override public void onResponse(Response response) {
                        sub.onNext(response);
                        sub.onCompleted();
                    }
                });
            } catch (Exception e) {
                sub.onError(e);
            }
        }
    }

}
