## Template for each generated Retrofit_Foo class.
## This template uses the Apache Velocity Template Language (VTL).
## The variables ($pkg, $props, and so on) are defined by the fields of MutableRetrofitTemplateVars.
##
## Comments, like this one, begin with ##. The comment text extends up to and including the newline
## character at the end of the line. So comments also serve to join a line to the next one.
## Velocity deletes a newline after a directive (#if, #foreach, #end etc) so ## is not needed there.
## That does mean that we sometimes need an extra blank line after such a directive.
##
## A post-processing step will remove unwanted spaces and blank lines, but will not join two lines.

#if (!$pkg.empty)
package $pkg;
#end

#foreach ($i in $imports)
import $i;
#end

import org.json.JSONObject;
import org.json.JSONException;

import rx.Observable;
import rx.Subscriber;
import rx.functions.*;

import com.bluelinelabs.logansquare.LoganSquare;

import android.util.Log;

import java.util.List;
import java.util.ArrayList;

import com.squareup.okhttp.Request;
import com.squareup.okhttp.Headers;
import com.squareup.okhttp.OkHttpClient;
import com.squareup.okhttp.MediaType;
import com.squareup.okhttp.ResponseBody;
import com.squareup.okhttp.RequestBody;
import com.squareup.okhttp.FormEncodingBuilder;
import com.squareup.okhttp.MultipartBuilder;

import java.io.IOException;
import retrofit.converter.*;
import java.io.*;
import retrofit.mime.*;
import java.lang.reflect.ParameterizedType;
import java.lang.reflect.Type;
import com.google.gson.Gson;
//import com.google.gson.reflect.TypeToken;
import retrofit2.TypeToken;
import retrofit2.RequestException;
import retrofit.RetrofitError;
import retrofit.client.Header;

import rx.schedulers.*;

/**
 * @see "https://github.com/square/okhttp/wiki/Recipes"
 */
${gwtCompatibleAnnotation}
public final class $subclass$formalTypes extends $origClass$actualTypes {

    final OkHttpClient client;
    public static final String _MIME_APP_JSON = "applications/json";
    public static final String _CHARSET_UTF8 = "charset=utf-8";
    public static final String _MIME_APP_JSON_CHARSET_UTF8 = _MIME_APP_JSON + "; " + _CHARSET_UTF8;
    Converter converter;

## Constructor

    public $subclass() {
        this(null);
    }

    public $subclass(Converter converter) {
        client = new OkHttpClient();

        this.converter = converter;
        if (this.converter == null) {
            try {
                /**
                 * Parse JsonArray
                 * gson.fromJson(jsonString, Wrapper[].class);
                 * mapper.readValue(jsonString, typeFactory.constructCollectionType(List.class, SomeClass.class));
                 */

                this.converter = new LoganSquareConverter();
            } catch (Exception e) {
                throw new RuntimeException(e);
            }
        }

    }


## Property getters

#foreach ($p in $props)

    @Override
    ${p.access}${p.type} ${p.getter}(${p.args}) {

        String _url = "${p.path}";
        if (!_url.startsWith("http://") && !_url.startsWith("https://")) {
            _url = "${baseUrl}" + _url;
        }

    #if (!$p.queries.isEmpty())

        StringBuilder _sb = new StringBuilder();
        _sb.append(_url);
        _sb.append("?");

        #foreach ($query in $p.queries.entrySet())

        _sb.append("${query.key}");
        _sb.append("=");
        _sb.append($query.value);

            #if ($foreach.hasNext)

        _sb.append("&");

            #end
        #end

        _url = _sb.toString();

        Request.Builder requestBuilder = new Request.Builder().url(_url);

    #else

        Request.Builder requestBuilder = new Request.Builder().url(_url);

    #end

        final String _finalUrl = _url;

    #if ($p.get)

    #elseif ($p.post)
        #if ($p.body && $p.body != "")

        String jsonString = null;
        TypedOutput typedOutput = null;
        try {
            typedOutput = converter.toBody($p.body);
            jsonString = toString(typedOutput);
        } catch (Exception e) {
            throw new RuntimeException(e);
        }
        //if (jsonString == null) throw new NullPointerException();
        requestBuilder.post(RequestBody.create(MediaType.parse(typedOutput.mimeType()), jsonString));

        #elseif (!$p.fields.isEmpty())

        FormEncodingBuilder formBuilder = new FormEncodingBuilder();

            #foreach ($field in $p.fields.entrySet())

        formBuilder.add("$field.key", $field.value);

            #end

        requestBuilder.post(formBuilder.build());

        #end
    #elseif ($p.put)
        #if (!$p.parts.isEmpty())

        MultipartBuilder partsBuilder = new MultipartBuilder().type(MultipartBuilder.FORM);

            #foreach ($part in $p.parts.entrySet())
                #if ($part.value.typedFile)

                // TypedFile
        partsBuilder.addPart(Headers.of("Content-Disposition", "form-data; name=\"${part.key}\""),
            RequestBody.create(MediaType.parse(${part.value.name}.mimeType()), ${part.value.name}.file()));

                #elseif ($part.value.typedString)

        partsBuilder.addPart(Headers.of("Content-Disposition", "form-data; name=\"${part.key}\""),
            RequestBody.create(MediaType.parse(${part.value.name}.mimeType()), ${part.value.name}.toString()));

                #elseif ($part.value.typedByteArray)

        partsBuilder.addPart(Headers.of("Content-Disposition", "form-data; name=\"${part.key}\""),
            RequestBody.create(MediaType.parse(${part.value.name}.mimeType()), ${part.value.name}.getBytes()));

                #elseif ($part.value.mimeType != "")

                // File elseif (part.value.isFile)

        partsBuilder.addPart(Headers.of("Content-Disposition", "form-data; name=\"${part.key}\""),
            RequestBody.create(MediaType.parse("${part.value.mimeType}"), ${part.value.name}));


                #else

        partsBuilder.addFormDataPart("${part.key}", ${part.value.name});

                #end
            #end

        requestBuilder.put(partsBuilder.build());

        #else

        requestBuilder.put(RequestBody.create(MediaType.parse(_MIME_APP_JSON_CHARSET_UTF8), ""));

        #end

    #elseif ($p.delete)

        requestBuilder.delete();

    #end

    #foreach ($header in $headers.entrySet())

        requestBuilder.addHeader("$header.key", $header.value);

    #end

    #foreach ($header in $p.headers.entrySet())

        requestBuilder.addHeader("$header.key", $header.value);

    #end

        Observable<com.squareup.okhttp.Response> responseCachedObs = Observable.create(new OnSubscribeResponse(client, requestBuilder.build())).doOnNext(new Action1<com.squareup.okhttp.Response>() {
            @Override public void call(com.squareup.okhttp.Response response) {
            }

    #if (!$retryHeaders.isEmpty())

        }).onErrorResumeNext(new Func1<Throwable, Observable<com.squareup.okhttp.Response>>() {
            @Override public Observable<com.squareup.okhttp.Response> call(Throwable e) {
                if (e instanceof RequestException) {
                    RequestException requestException = (RequestException) e;
                    Request.Builder reqBuilder = requestException.request().newBuilder();

        #foreach ($header in $retryHeaders.entrySet())

                    reqBuilder.addHeader("$header.key", $header.value);

        #end

                    return Observable.create(new OnSubscribeResponse(client, reqBuilder.build()));
                }
                return Observable.error(e);
            }

    #end

        }).cache();

    #if (!$p.responseType)
        #if ($p.observable)

        $p.type obs;

        #elseif ($p.callback)

        Observable<$p.typeArgs> obs;

        #else

        Observable<$p.type> obs;

        #end

        obs = responseCachedObs.map(new Func1<com.squareup.okhttp.Response, String>() {
            @Override public String call(com.squareup.okhttp.Response response) {
                try {
                    return response.body().string();
                } catch (Exception e) {
                    throw new RuntimeException(e);
                }
            }
        }).filter(new Func1<String, Boolean>() {
            @Override public Boolean call(String json) {
                return json != null;
            }
        }).map(new Func1<String, $p.typeArgs>() {
            @Override public $p.typeArgs call(String json) {
                // TODO Using RetrofitConveter
                try {
                    System.out.println(json);

        #if ($p.typeArgs2 != "")

                    Type type = new TypeToken<${p.typeArgs}>(){}.getType();
                    return (${p.typeArgs}) converter.fromBody(new JsonTypedInput(json), type);

        #else

                    return (${p.typeArgs}) converter.fromBody(new JsonTypedInput(json), ${p.typeArgs}.class);

        #end

                } catch (Exception e) {
                    throw new RuntimeException(e);
                }
            }
        }).filter(new Func1<$p.typeArgs, Boolean>() {
            @Override public Boolean call($p.typeArgs object) {
                return object != null;
            }
        });

    #end

        Observable<retrofit.client.Response> retrofitResponseObs = responseCachedObs.map(new Func1<com.squareup.okhttp.Response, retrofit.client.Response>() {
            @Override public retrofit.client.Response call(com.squareup.okhttp.Response response) {
                return parseResponse(response);
            }
        });

    #if ($p.blocking)
        #if ($p.responseType)

        return retrofitResponseObs.subscribeOn(Schedulers.io()).toBlocking().single();

        #else

        return obs.subscribeOn(Schedulers.io()).toBlocking().single();

        #end
    #elseif ($p.callback)
        #if ($p.responseType) // Callback<Response>

        retrofitResponseObs.subscribeOn(Schedulers.io()).subscribe(new Action1<$p.typeArgs>() {
            @Override public void call($p.typeArgs object) {
                ${p.callbackName}.success(object, object);
            }
        }, new Action1<Throwable>() {
            @Override public void call(Throwable e) {
                ${p.callbackName}.failure(RetrofitError.unexpectedError(_finalUrl, e));
            }
        });

        #else // Callback<MODEL>

        Observable.zip(retrofitResponseObs, obs, new Func2<retrofit.client.Response, $p.typeArgs, $p.typeArgs>() {
            @Override public $p.typeArgs call(retrofit.client.Response response, $p.typeArgs object) {
                ${p.callbackName}.success(object, response);
                return object;
            }
        }).subscribeOn(Schedulers.io()).subscribe(new Action1<$p.typeArgs>() {
            @Override public void call($p.typeArgs object) {
            }
        }, new Action1<Throwable>() {
            @Override public void call(Throwable e) {
                ${p.callbackName}.failure(RetrofitError.unexpectedError(_finalUrl, e));
            }
        });

        #end
    #else
        #if ($p.responseType)

        return retrofitResponseObs;

        #else

        return obs;

        #end
    #end

    }
#end

    // TODO onUnSubscribe to call.cancel();
    public static class OnSubscribeResponse implements Observable.OnSubscribe<com.squareup.okhttp.Response> {
        final Request request;
        final OkHttpClient client;

        public OnSubscribeResponse(OkHttpClient client, Request request) {
            this.request = request;
            this.client = client;
        }

        @Override
        public void call(final Subscriber<? super com.squareup.okhttp.Response> sub) {
            try {
                client.newCall(request).enqueue(new com.squareup.okhttp.Callback() {
                    @Override public void onFailure(Request r, IOException e) {
                        sub.onError(new RequestException(r, e));
                    }
                    @Override public void onResponse(com.squareup.okhttp.Response response) {
                        sub.onNext(response);
                        sub.onCompleted();
                    }
                });
            } catch (Exception e) {
                sub.onError(e);
            }
        }
    }

    public static class JsonTypedInput implements TypedInput {
        public static final String MIME_APP_JSON = "applications/json";
        public static final String CHARSET_UTF8 = "charset=utf-8";
        public static final String MIME_APP_JSON_CHARSET_UTF8 = MIME_APP_JSON + "; " + _CHARSET_UTF8;
        private final byte[] bytes;
        private final InputStream in;

        public JsonTypedInput(String json) {
            bytes = json.getBytes(); // json.getBytes(java.nio.charset.StandardCharsets.UTF_8.toString());
            in = new ByteArrayInputStream(json.getBytes());
        }

        @Override public InputStream in() {
            return in;
        }
        @Override public long length() {
            return bytes.length;
        }
        @Override public String mimeType() {
            return MIME_APP_JSON_CHARSET_UTF8;
        }
    }

    public static String toString(TypedOutput typedOutput) {
        String string = null;
        try {
            ByteArrayOutputStream bytesOutputStream = new ByteArrayOutputStream();
            typedOutput.writeTo(bytesOutputStream);
            string = bytesOutputStream.toString(); // bytesOutputStream.toString(java.nio.charset.StandardCharsets.UTF_8.toString());
        } catch (Exception e) {
            throw new RuntimeException(e);
        }
        return string;
    }

  static retrofit.client.Response parseResponse(com.squareup.okhttp.Response response) {
    return new retrofit.client.Response(response.request().urlString(), response.code(), response.message(),
        createHeaders(response.headers()), createResponseBody(response.body()));
  }

  private static TypedInput createResponseBody(final ResponseBody body) {
    try {
      if (body.contentLength() == 0) {
        return null;
      }
    } catch (IOException e) {
      return null;
    }
    return new TypedInput() {
      @Override public String mimeType() {
        MediaType mediaType = body.contentType();
        return mediaType == null ? null : mediaType.toString();
      }

      @Override public long length() {
        try {
          return body.contentLength();
        } catch (IOException e) {
          return 0L;
        }
      }

      @Override public InputStream in() throws IOException {
        return body.byteStream();
      }
    };
  }

  private static List<Header> createHeaders(Headers headers) {
    int size = headers.size();
    List<Header> headerList = new ArrayList<Header>(size);
    for (int i = 0; i < size; i++) {
      headerList.add(new Header(headers.name(i), headers.value(i)));
    }
    return headerList;
  }
}
